// NFI why this was ever called card 6 - this is the full-image card

@mixin card-11-base() {
    
    .c-cards-view {
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            top: -15px;
            height: 15px;
            background-color: $white;
            left: 0;
        }
        height: 228px;
        

        &__media {
            @include flex-width(100%);
            @include flex-height(100%);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            overflow: hidden;
            &--video {
                &:before {
                    @include size(35px);
                }
            }
        }

        &__container {
            overflow: hidden;
            padding: 145px 20px 0;
            @include flex-width(100%);
            @include flex-height(100%);
            background-color: rgba($grey-2,0.3);
        }
        &__category {
            @include font-size(10.5);
            font-weight: $weightBold;
            margin-bottom:5px;
            color: $white;
        }
        &__heading {
            @include font-size(18);
            font-weight: $weightBold;
            @include flex-height(60px);
            color: $white;
        }
        &__description {
            display:none;
        }
        &__author {
            display:none;
        }
    }
}

.card-11-mobile {
    @media #{$mobile} {
        @include card-11-base();
    }
}

@mixin card-11-tablet-base(){
    @include card-11-base();
    .c-cards-view {
        height: 323px;
        &__container {
            padding: 181px 20px 0;

        }
        &__heading {
            @include font-size(24);
            
            @include flex-height(90px);
        }
    }

}

.card-11-tablet {
    @media #{$tablet} {
        @include card-11-tablet-base();
    }
}

.card-11-desktop {
    @media #{$desktop} {
        @include card-11-tablet-base();
    }
}


.card-11-desktop-lg {
    @media #{$desktop-lg} {
        @include card-11-tablet-base();

        .c-cards-view {
            height: 326px;
            &__container {
                padding: 204px 20px 0;
    
            }
            &__heading {
                @include font-size(24);
            
                @include flex-height(90px);
            }
        }
    }
}



