.c-news-feed__list{ 
    counter-reset: my-badass-counter;

}


@mixin card-14-base() {
    padding-left: 34px;
    
    .c-cards-view {
        height: inherit;
        margin-bottom:0;
        &__media {
            display:none;
        }

        &__container {
            // @include calc(width, '100% - 112px');
            // @include flex-height(95px);
            overflow: hidden;
        }
        &__category {
            display:none;
        }
        &__heading {
            @include font-size(16);
            line-height: 1.2;
            font-weight: $weightBold;
            max-height: 45px;
            min-height: 21px;

        }
        &__description {
            display:block;
            @include font-size(12);
            @include flex-height(20px);
            margin-top: 5px;
            margin-bottom:0;
        }
        &__author {
            display:none;
        }

        &.without-image {
            background: $white none repeat scroll 0 0 !important;
        }

    }
}

.card-14-mobile {
    @media #{$mobile} {
        @include card-14-base();
    }
}

.card-14-tablet {
    @media #{$tablet} {
        @include card-14-base();
    }
}

.card-14-desktop {
    @media #{$desktop-up} {
        @include card-14-base();
    }
}

.c-news-feed__list > li {

    &:before {
        content: counter(my-badass-counter, decimal-leading-zero);
        counter-increment: my-badass-counter;
        position:absolute;
        color: $mainColor;
        @include font-size(16);
        line-height: 1.2;
        font-weight: $weightBold;
        min-width: 35px;
    }
    
}