.c-header-4-top-bar {
    
    @media #{$mobile} {
        display:none;
    }

    &__social{


        &__icon{
            margin-right: 17px;
            &--youtube{
                >svg{
                    margin-bottom: 1.25px;
                }
            }
            &:hover{
                >svg>g>g{
                    fill:$mainColor;
                }
            }
        }
    }

    &__login-button {
        @media #{$desktop-up}{
            float: right;
            &:first-child{
                margin-left: 20px;
            }
        }

    }
}
